{% extends "base.html" %}
{% block content %}
<div class="container mx-auto py-8 px-4">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold text-gray-800">Company List</h1>
        <a href="{% url 'catalog:company_create' %}">
            <button class="btn btn-accent text-white font-semibold py-2 px-4 rounded-lg shadow">
                + Add New
            </button>
        </a>
    </div>

    <div class="flex justify-between items-center mb-6 gap-2">
        <input type="text" 
               name="q"
               placeholder="Search Company..." 
               class="input input-bordered w-full max-w-md shadow-sm focus:border-primary"
               hx-get="{% url 'catalog:company_list' %}"
               hx-trigger="keyup changed delay:500ms"
               hx-target="#company-table-body" /> 
    </div>

    <div class="bg-white shadow-md rounded-lg overflow-hidden border border-gray-200">
        <table class="min-w-full leading-normal">
            <thead>
                <tr class="bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    <th class="px-5 py-4 border-b-2 border-gray-200">
                        <a 
                        href="?sort={% if request.GET.sort == 'company_code' %}-company_code{% else %}company_code{% endif %}" 
                        class="flex items-center hover:text-blue-600 transition-colors">
                            Company Code
                            <span class="ml-2 {% if 'company_code' in request.GET.sort %}text-blue-500{% else %}text-gray-400{% endif %}">
                                {% if request.GET.sort == 'company_code' %}
                                    {% include 'components/svgs/utility/move-down.svg' %}
                                {% elif request.GET.sort == '-company_code' %}
                                    {% include 'components/svgs/utility/move-up.svg' %}
                                {% else %}
                                    {% include 'components/svgs/utility/arrow-down-up.svg' %}
                                {% endif %}
                            </span>
                        </a>
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200">BP Code</th>
                    <th class="px-5 py-3 border-b-2 border-gray-200">Company Name</th>
                    <th class="px-5 py-3 border-b-2 border-gray-200">Address</th>
                    <th class="px-5 py-4 border-b-2 border-gray-200">
                        <a href="?sort={% if request.GET.sort == 'company_active' %}-company_active{% else %}company_active{% endif %}" 
                        class="flex items-center hover:text-blue-600 transition-colors">
                            Status
                            <span class="ml-2 {% if 'company_active' in request.GET.sort %}text-blue-500{% else %}text-gray-400{% endif %}">
                                {% if request.GET.sort == 'company_active' %}
                                    {% include 'components/svgs/utility/move-down.svg' %}
                                {% elif request.GET.sort == '-company_active' %}
                                    {% include 'components/svgs/utility/move-up.svg' %}
                                {% else %}
                                    {% include 'components/svgs/utility/arrow-down-up.svg' %}
                                {% endif %}
                            </span>
                        </a>
                    </th>
                    <th class="px-5 py-4 border-b-2 border-gray-200">
                        <a href="?sort={% if request.GET.sort == 'created_at' %}-created_at{% else %}created_at{% endif %}" 
                        class="flex items-center hover:text-blue-600 transition-colors">
                            Created_at
                            <span class="ml-2 {% if 'created_at' in request.GET.sort %}text-blue-500{% else %}text-gray-400{% endif %}">
                                {% if request.GET.sort == 'created_at' %}
                                    {% include 'components/svgs/utility/move-down.svg' %}
                                {% elif request.GET.sort == '-created_at' %}
                                    {% include 'components/svgs/utility/move-up.svg' %}
                                {% else %}
                                    {% include 'components/svgs/utility/arrow-down-up.svg' %}
                                {% endif %}
                            </span>
                        </a>
                    </th>

                    <th class="px-5 py-3 border-b-2 border-gray-200 text-right">Actions</th>
                </tr>
            </thead>
            <tbody id="company-table-body" class="text-gray-700" hx-target="#company-table-body">
                {% include "finance/partials/ptbcompany.html" %}
            </tbody>
        </table>

        
    </div>
    
</div>

{% endblock %}