{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="SuperBiz - Advanced Inventory Management System for tracking sales, stock, and master data.">
    
    <meta name="keywords" content="inventory, management, POS, business, SuperBiz, stock tracking">
    <title>
        {% block title %} 
        superBiz - Inventory Management 
        {% endblock title %}
        
    </title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body 
    x-data="{ collapsed: false }" 
    :class="isFullscreen ? 'overflow-hidden' : ''"
    class="body-outline">
  <div class="flex h-screen bg-gray-100 overflow-hidden">
    {% include 'components/sidebar.html' %}

    <div class="flex flex-col flex-1 overflow-hidden">
        {% include 'components/topbar.html' %}

        <main class="flex-1 overflow-y-auto p-6">
            {% block content %}
                
            {% endblock %}
        </main>
        <footer>
            {% include 'components/footer.html' %}
        </footer>
    </div>
</div>
</body>
</html>